@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&family=Poppins:wght@600&family=Signika:wght@300&display=swap');
* {
    box-sizing: border-box;
    --primary-color: #073b3a;
    --secondary-color: #0b6e4f;
    --accent1-color: #08a045;
    --accent2-color: #6bbf59;
}

body {
    margin: 0 50px;
}

h1, h3, h4, h5, h6 {
    font-family: Poppins, Helvetica, sans-serif;
    text-align: center;
    color: #073b3a;
}

h2 {
    font-family: Overpass, Helvetica, sans-serif;
    color: var(--primary-color);
    text-align: center;
}

p, a {
    font-family: Signika, Helvetica, sans-serif;
}

.header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

nav {
    position: sticky;
    background-color: var(--primary-color);
}

nav a {
    display: block;
    float: right;
    padding: 0 100px;
    height: inherit;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--accent1-color);

}

.column {
    width: 33%;
    float: left;
    clear: right;
    padding: 20px;
}

.join_us {
    background-color: var(--secondary-color);
    width: 50%;
    float: right;
}

.button {
    padding: 5px 10px;
    background-color: #6bbf59;
    border: var(--accent1-color) 1px solid;
}

.fakeimg {
    background-color: grey;
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}