@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&family=Poppins:wght@600&family=Signika:wght@300&display=swap');

:root {
  --primary-color: #073b3a   ;
  --secondary-color: #0b6e4f ;
  --accent1-color: #08a045;
  --accent2-color: #6bbf59;
}
body {
    background-color: #08a0451e;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
}
 ul li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
}
nav a {
    color: var(--accent2-color);
    text-decoration: none;
    font-family: 'Signika';
    padding: 35px;
}
nav a:hover {
    background-color: var(--accent2-color);
    color: white;
}
h1, h3, h4, h5, h6{
    font-family: 'Poppins';
}
h2 {
    font-family: 'Overpass';
    margin: 0;
    padding: 0;
}
p a {
    font-family: 'Signika';
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
header {
    background-color: var(--primary-color);
}
footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
}
footer img {
    padding-top: 15px;
}
footer a  {
    color: var(--accent1-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--accent2-color);
}
footer h3 {
    color: var(--accent2-color);
}
footer h3 a:hover {
    text-decoration: underline;
}
.book, .join {
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Overpass';
    padding: 15px 30px ;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: white;
}
.button-box {
    text-align: center;
}
.msg {
    background-color: var(--primary-color);
    padding: 35px;
}
.home-title {
    font-family: 'Poppins';
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    font-family: 'Overpass';
    color: white;
}
.msg p {
    color: white;
    font-family: 'Signika';
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card_image {
    border: var(--secondary-color) 10px solid;
}
.mountains {
    margin: 35px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: var(--secondary-color);
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#logo_link {
    padding-top: 5px;
}