@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cuprum&family=Heebo&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: orange;
    font-family: 'Cuprum';
}

a:hover {
    color: aquamarine;
    text-decoration: underline;
    background-color: rgba(0, 255, 255, 0.096);
    border: transparent 1px solid;
    border-radius: 5px;
}
h1, h3, h4, h5, h6 {
    font-family: 'Cuprum', sans-serif;
}

h2 {
    font-family: 'Cabin', sans-serif;
}

p {
    font-family: 'Heebo', sans-serif;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

body {
    background-color: #202324;
    color: #e8e6e3;
    margin: 0;
}

main {
    margin: 0 30px
}

.header {
    text-align: center;
    background-color: #181a1b;
    padding: 30px 0;
    margin: 30px;
}

.header h1 {
    font-size: 3em;
}

nav {
    overflow: hidden;
    width: 100%;
    background-color: #262a2b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: block;
    padding: 0 50px;
    font-size: x-large;
    text-decoration: none;
    color: orange;
    border: transparent 1px solid;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(0, 255, 255, 0.096);
    color: aquamarine;
    cursor: pointer;
    text-decoration: none;
}

.sidebar {
    float: right;
    width: 20%;
    height: 100%;
    padding: 5px;
}

.content {
    float: right;
    width: 80%;
    height: 100%;
    padding: 5px;
}

.card {
    background-color: #181a1b;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin: 20px;
    border: transparent 1px solid;
    border-radius: 5px;
}

.footer {
    background-color: #2b2f31;
    color: white;
    margin: 30px;
    padding: 5px
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fakeimg {
    width: 100%;
    background-color: #484e51;
    margin: 1px 0;
}